$orange: #e87722;
$gold: #e5a62b;
$green: #00b1ad;
$shadowGreen: #97c0bb;
$purple: #530fdd;
$pink: #e025a5;
$white-smoke: #d1ccbd;
$astronaut-blue: #204f56;
$grey: #808078;
$brown: #38383b;
$silver: #bdbbc7;
$dark-green: #026e6b;
